/* Css Reset */
*{
margin: 0px;
padding: 0px;
}
/* css variables */
:root{
    --nav-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
   
}
/* logo and image */
#logo{
    margin: 15px 20px;
}
#logo img{
    margin: 2px 5px;
    height: 89px;
    width: 89px;
    border: 2px solid white;
    border-radius: 57px;
}
/* navigation bar and li style */
#navbar{
    position: absolute;
    top: 0px
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}
#navbar::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
    
#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
   background-color: white;
}
/* home scection */
section{

}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 623px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(../img/a4.jpg) no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}
#home p{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}
.h-secondery{
    font-family: 'Bree Serif', serif;
    font-size: 1 rem;
    padding: 12px;
}
.center{
    text-align: center;
}
#services{
    margin: 34px;
    display: flex;
    
}
#services .box{
        border: 2px solid brown;
    margin: 10px;
    border-radius: 20px;
    /* background-color: burlywood; */
    padding: 23px;
    
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
#services{}